/* options par défaut */
body {
    color: #ffffff;
    background-size: cover;
    height: 100%;
    overflow-y: hidden;
    justify-content:  center;
}

/* Mise en forme des message joueur */
#div_message{ 
    font-size: 100%;
    color: #ffffff;
    background-color: rgba(100, 100, 100, 0.3); 
    width: fit-content;
    padding: 0px 20px 0px 20px;
    border: 5px outset black;
    border-radius: 15px;
    backdrop-filter: blur(5px);

    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
    margin: 0 auto;
}
#div_alert{
    font-size: 120%;
    color: #ffffff;   
    width: fit-content;
    padding: 0px 20px 0px 20px;
    background-color: rgba(100, 100, 100, 0.8);
    border: 5px outset rgb(0, 0, 0);
    border-radius: 15px;
    backdrop-filter: blur(0px);

    position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

/* Fonction pour centrer un objet/text (utiliser pour les <p> et les <button> */
#barray{
    text-align: center;
}

/* Forme couleur et annimation des boutons normaux */
button{
    border-radius: 15px;
    height: 30px;
    font-size: 80%;
    width: fit-content;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.4s;
}
button:hover {
    height: 40px;
    font-size: 100%;
    color: black;
    background-color: rgb(255, 255, 255,0.5);
    border: 2px solid black;
    transition: 0.6s;
}

/* Ceci est l'affichage des boutons lors d'un combat */
.fbut{
    height: 50px;
    padding: 20px 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    width: 96%;
    bottom: 5px;
    position: fixed;
    font-size: 120%;
}
.fbut button{
    height: 50px;
    font-size: 120%;
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    background-color: black;
}
.fbut button:hover{
    height: 60px;
    font-size: 140%;
}
.fbut button:active{
    height: 50px;
    font-size: 120;
    transition: 0.3s;
}

/* Couleur et position des boutons de combat */
#tech{
    position: fixed;
    right: 25px;
    bottom: 25px;
    margin: 0 auto;
}
#tech:hover{
    color: black;
    background-color: rgb(62, 40, 255);
    bottom: 20px;
    transition: 0.6s;
}
#cac{
    position: fixed;
    left: 50%;
    bottom: 25px;
    transform: translate(-50%, -0);
    margin: 0 auto;
}
#cac:hover{
    color: black;
    bottom: 20px;
    background-color: rgb(255, 59, 59);
    transition: 0.6s;
}
#distance{
    position: fixed;
    left: 25px;
    bottom: 25px;
    margin: 0 auto;
}
#distance:hover{
    color: black;
    background-color: rgb(59, 255, 141);
    bottom: 20px;
    transition: 0.6s;
}

/* Statistique des combatants (apparition et disparition */
.statm{
    opacity: 0;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 10px 20px 0px 20px;
    color: #ffffff;
    background-color:black;
    position: fixed;
    left: 20px;
    bottom: 110px;
    transition: 0.3s;
}
.statm:hover{
    opacity: 1;
    transition: 0.5s;
}
.state{
    opacity: 0;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 10px 20px 0px 20px;
    color: #ffffff;
    background-color:black;
    position: fixed;
    right: 20px;
    top: 20px;
    transition: 0.3s;
    
}
.state:hover{
    opacity: 1;
    transition: 0.5s;
}

/* Nom et vie des combatants */
.pvm{
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    background-color:black;
    position: fixed;
    left: 20px;
    bottom: 110px;
}
.pve{
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    background-color:black;
    position: fixed;
    right: 20px;
    top: 20px;
}

/* Personnage allié et ennemi */
#img_enem{
    height: 300px;
    position: fixed;
    right: 50px;
    top: 70px;
    transition: 0.3s;
}

/* message --> (cliquer pour continuer) */
#clickadvice{
    color: #ffffff;
    position: fixed;
    bottom: 10px;
    right: 10px;
}