body {
    height: 100%;
    overflow-y: hidden;
}
#div_index_main {
    color: #000000;
    width:fit-content;
    background-color: rgba(100, 100, 100, 0.7);
    margin-top: 20%;
    margin-left: 30%;
    padding: 0 20px 20px 20px;
    border: 5px outset black;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}
.Titre1{
    text-shadow: 3px 3px 1px #777777;
}
.Input{
    margin-left: 20%;
    width:fit-content;
}