body {
    height: 100%;
    overflow-y: hidden;
}
input{
    border-radius: 10px;
    height: 18px;
}
button{
    border-radius: 15px;
    height: 25px;
    width: fit-content;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: 0.4s;
}
button:hover {
    height:35px;
    color: black;
    background-color: rgb(255, 255, 255,0.5);
    border: 2px solid black;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: 0.6s;
}
#div_index_main {
    color: #000000;
    width:fit-content;
    background-color: rgba(100, 100, 100, 0.7);
    margin-top: 20%;
    margin-left: 30%;
    padding: 0 20px 20px 20px;
    border: 5px outset black;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}
.Titre1{
    text-shadow: 3px 3px 1px #777777;
}
.Input{
    margin-left: 20%;
    width:fit-content;
}